@model PetStoreDemo.Models.User

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login</h2>

<div class="form-horizontal">
    <form method="post" action="."  >
        <div class="form-group">
            <label for="Username">Username</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="Username">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-default" id="loginbtn">Sign in</button>
    </form>
 
    @if(ViewBag.errmsg != null)
    {
            <div class="alert alert-danger"> @ViewBag.errmsg </div> 
    }

</div>