 <div class="container contentContainer" id="topcontainer">
   <div class="row">
   </div>
</div>

    <div class="container contentContainer">

        <div class="row">
            <div class="col-md-6 col-md-offset-3" id="toprow">
                <h1 class="torpaddingTop">  My Pet Store </h1>

                <p class="lead"> The Greatest Website for adopting pets</p>

            </div>
        </div>
        <div class="row">
            <h1 class="center title"> Why My Pet Store is a great place to Adopt ?  </h1>
            @*<p class="lead center">  Summary of the app is awesome. </p>*@
        </div>

        <div class="row marginBottom">
            <div class="col-md-4 paddingTop">
                <h3> <span class="glyphicon glyphicon-search"> </span> Great Place to Search </h3>
                <p>
                    A brief description of one of the best features of the app. A lo more text.
                    A brief description of one of the best features of the app. A lo more text.
                    A brief description of one of the best features of the app. A lo more text.
                </p>

            </div>

            <div class="col-md-4 paddingTop">
                <h3> <span class="glyphicon glyphicon-check"> </span> Regular Health Check ups</h3>
                <p>
                    A brief description of one of the best features of the app. A lo more text.
                    A brief description of one of the best features of the app. A lo more text.
                    A brief description of one of the best features of the app. A lo more text.
                </p>

            </div>

            <div class="col-md-4 paddingTop">
                <h3> <span class="glyphicon glyphicon-heart"> </span> Raised with love</h3>
                <p>
                    A brief description of one of the best features of the app. A lo more text.
                    A brief description of one of the best features of the app. A lo more text.
                    A brief description of one of the best features of the app. A lo more text.
                </p>

            </div>


        </div>

    </div>




